@import "../../styles/variables.scss";

.input__control {
  margin-bottom: 35px;
  padding: 12px 12px 12px 18px;
  background-color: $color__white;
  border-radius: 10px;
  position: relative;
  flex: 1;
  .input {
    all: unset;
    font-size: $ft__18;
    width: 100%;
    &::placeholder {
      font-size: $ft__18;
      opacity: 0.8;
    }
  }
  .show__pass {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: $ft__20;
    cursor: pointer;
    opacity: 0.8;
  }
}
