@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-bottom: 0;
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
